.container{

    background-color: white;
    min-width: 15rem;
    height: 2.5rem;    
    border-radius: 5px;
    transition: height 0.3s ease-in-out;
  
}
.container.expanded{
    height: 4.5rem;

    padding: 5px;
}
.btnWrapper{

border-radius: 5px;
    height: 2.5rem;
padding: 0px 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
.btnWrapper:hover{
background-color: whitesmoke;
}
.inputWrapper{
    transition:  0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    
}
.innerDiv{
    width: auto;
    height: auto;
display: flex;
justify-content: space-around;
align-items: center;
}
.innerDiv Button{
    padding: 3px 3px;
    width: 6rem;
    text-transform: none;
}

.inputField{
    width: 14rem;
    height: 2rem;
    border-radius: 5px;
    background-color: white;
}
#closeIcon{
    cursor: pointer;
    padding-left: 5px;
}
