.descriptionContainer {
    width: 39.3vw;
    height:100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #F1F2F4;
    /* gap:2rem */
    
  }

  .stackContainer {
    /* width:100%; */
    /* background-color: #F1F2F4; */
    width:100vw;
  }
  
 .titleContainer {
    display: flex;
    align-items: flex-start;
    gap:1rem;
    
  }
  
  .titleIcon {
    display: flex;
    align-items: center;
    
  }
  
  .titleName {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
   
  }
  
  .titleName p {
    margin: 0;
    font-weight: bold;
  }

.listName {
    display: flex;
    flex-direction: row;
    gap:1rem;
    text-align: center;
    justify-content: center;
    width:100%;
} 
  
.watching {
    display: flex;
    flex:1;
    gap:0.5rem;
    background-color: #E4E6EA;
    text-align: center;
    width:100%;
    padding:0.3rem;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
}

.watching div {
    display: flex;
    text-align: center;
    align-items: center;
}
.check {
    background-color: #626F86;
    border-radius: 3px;
    color: white;
    
}

.contentContainer {
    margin-top: 1rem;
}
.notificationContainer small{
    color: #44546F;
    font-weight: bold;
}

.watch {
    width:100%;
    background-color: #E4E6EA;
    padding:0.3rem;
    gap:0.5rem;
    flex:1;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;

}
.watch div{
    display: flex;
    text-align: center;
}


.description {
    display: flex;
    align-items: center;
    gap:1rem;
  }
  
  .edit {
    background-color: #E4E6EA;
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
  }
  
  
 .inputField {
    height:2vh;
 }

 .inputContainer {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-top:0.5rem;
 }

 .descriptionContent{
    margin-left: 2.5rem;
 }

 .activityContainer {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:1rem 0;
 }

 .activityLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem
 }

 .hideDetails {
    width:20%;
    background-color: #E4E6EA;
    padding:0.5rem 0.3rem;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
   cursor: pointer;
    border-radius: 5px;
    text-align: center; 
 }

 
 .comment {
    display: flex;
    margin-left: 2.3rem;
    height:4.5vh
   
 }

 .comments {
    width:100%;
    outline:none;
    background-color: #F1F2F4;
    border: transparent;
    border-radius: 5px;
    padding:0.6rem;
   
 }
 .commentList{
    display: flex;
    flex-direction: column-reverse;
    /* width:90%; */
 }

 .commentTexts {
    display: flex;
    gap:0.5rem;
    flex-direction: column;

 }

 .eachComment {
    margin-left: 2.3rem;
    background-color: #F1F2F4;
    margin-top:0.5rem;
    padding: 0.6rem;
    /* width:30%; */
    /* width:100%;  */
     /* height:4.5vh; */
    border-radius: 5px;
 }

 .updateComment {
    margin-left: 2.3rem;
    display: flex;
    gap:0.5rem;
    padding:0.4rem;
 }

 .timeContainer {
    margin-left: 2.5rem;
 }