.container{
    border: 1px solid;
    width: 15rem;
    height: fit-content;    
    border-radius: 5px;
    
}
.btnWrapper{
    background-color: white;
 opacity: 0.4;
    height: 2.5rem;
padding: 0px 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
.btnWrapper:hover{
    opacity: 0.3;

}
.innerDiv{
display: flex;
justify-content: left;
align-items: center;
}
.innerDiv Button{
    padding: 3px 3px;
    width: 6rem;
    text-transform: none;
}