.mainDiv{
    /* display: flex; */
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(270deg, #f99c00, #006bff, #00f2ff, #9800ff);
    background-size: 800% 800%;
    
    animation: bgAnimation 20s ease infinite;
    }
    
    @keyframes bgAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    *{
        margin: 0;
        padding: 0;
    }
    .heading{
        display: flex;
        justify-content: center ;
        font-size: 50px;
    }
    .imageDiv{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        
    }
    .perImg{
        border: 2px solid;
        height: 200px;
    }
    .perImg:hover{
        /* transform: scale(1.1); */
        transform: scale(1.2);
        transition: transform 1s ease;
    }
    .textField{
       width: 550px;
    }
    .inpDiv{
        display: flex;
        justify-content: center;
    }