.timeContainer {
   display: flex;
   flex-direction: row;
   font-size: 1.1rem;
   gap:1rem;
}

.activityMain{
   margin-top: 2rem;
}

.activity {
  display: flex;
  flex-direction: column;

  gap:0.4rem;
  
}

.timeStamp {
  font-size: 0.8rem;
  color: rgb(75, 73, 73);
  /* font-weight: bold; */
}