.timeContainer {
   display: flex;
   flex-direction: row;
   font-size: 1.1rem;
   gap:1rem;
}

.activityMain{
   margin-top: 2rem;
}

.activity {
  display: flex;
  flex-direction: column;

  gap:0.4rem;
  
}

.timeStamp {
  font-size: 0.8rem;
  color: rgb(75, 73, 73);
}

.timeActivity {
  color: rgb(106, 105, 105);
  font-weight: bold;
  font-size: 0.75rem;
  margin-left: 2.4rem;
  position:relative;
  top:-5px;
}

.activityUserDetails{
  display: flex;
  flex-direction: column;
 
}

.userDetails {
  display: flex;
  gap:1rem;
}

.activityAlign{
  display: flex;
  gap:0.7rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.activityUser {
  font-weight: bold;
 
  
}

.activityUserText{
  color:rgb(41, 40, 40);
  font-weight: 450;
  font-size:0.9rem;
  text-align: center;
}

.userTime {
  margin-left: 2.3rem;
  font-size: 0.75rem;
  color: rgb(23, 22, 22);
  /* font-weight: bold; */
  position:relative;
  
  top:-5px;
}